html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
:root {
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --white-text: rgba(255, 255, 255, 1);
  --lihtblack-text: rgba(47, 48, 58, 1);
  --lihtgrey-text: rgba(245, 244, 250, 1);
  --middlewhite-text: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --backgroundlitht-color: #f5f4fa;
  --svg-maincolor: #afb1b8;
  --backgroundlitht-icon: rgba(255, 255, 255, 0.1);
  --backgroundblack-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --time-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --border-color: rgba(255, 255, 255, 0.3);
  --border-form: rgba(33, 33, 33, 0.2);
  --holder-color: rgba(117, 117, 117, 0.5);
  --dogovor: #757575;
  --modal-button-sumbit: #188ce8;
}
body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 94px 15px;
}

.container--small {
  padding: 0px 15px;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo__name {
  color: var(--blue-text);
}

.logo--white {
  color: var(--white-text);
  margin: 0;
}

.nav__list {
  display: flex;
}

.nav__link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--black-text);
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-cubic);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--blue-text);
  outline: none;
}

.nav__link--active {
  display: block;
  color: var(--blue-text);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.nav__link--active::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--blue-text);
  left: 0;
  bottom: -1px;
}

.nav__item {
  margin-left: 50px;
  position: relative;
}

.nav__item:first-child {
  margin-left: 93px;
}

.head-contacts {
  display: flex;
  margin-left: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.head-contacts__item {
  margin-right: 30px;
}

.head-contacts__item:last-child {
  margin-right: 0px;
}

.head-contacts__link {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  color: var(--grey-text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--time-cubic);
}

.head-contacts__link:hover,
.head-contacts__link:focus {
  color: var(--blue-text);
  outline: none;
}

.head-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.footer {
  background-color: var(--lihtblack-text);
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__contacts {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  color: var(--middlewhite-text);
  letter-spacing: 0.03em;
}

.address__text {
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--white-text);
  letter-spacing: 0.03em;
}

.adress__item {
  margin-bottom: 9px;
}

.adress__item:last-child {
  margin-bottom: 0px;
}



.social {
  margin-left: 70px;
}

.social__name {
  color: var(--white-text);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__list {
  display: flex;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
  border-radius: 50px;
  background: var(--backgroundlitht-icon);
  transition: background-color 250ms var(--time-cubic);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--blue-text);
  outline: none;
}

.social__icon {
  fill: currentColor;
}

.footer-form {
  margin-left: 93px;
}

.subscription-form {
  display: flex;
}

.subscription-form__input {
  width: 358px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--lihtblack-text);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.subscription-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--middlewhite-text);
}

.subscription-form__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.subscription-form__btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  background-color: var(--blue-text);
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  color: var(--white-text);
  margin-left: 12px;
}

.subscription-form__icon {
  fill: currentColor;
  margin-left: 10px;
}
